# Database
DATABASE_URL="postgresql://user:password@localhost:5432/kanzz?schema=public"

# Server
PORT=3001

# Solana RPC
SOLANA_RPC_URL="https://api.devnet.solana.com"

# FairScale API
FAIRSCALE_API_KEY=your_fairscale_api_key_here
